body{
    background-color:blue;
}
.heading{
    color:white;
    font-size:18px;
}
h2{
    color:green;
    font-size:18px;
}
b{
    color:green;
    font-size:18px;
}
h5{
    color:green;
    font-size:18px;
}
p{
    color:white;
}
p{
    color:white;
}